.loginForm {
    position: fixed;
    width: 100%;
    max-width: 35rem;
    // padding: 4rem;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.registerForm {
    position: fixed;
    width: 100%;
    max-width: 35rem;
    // padding: 4rem;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
